<% layout('layouts/boilerplate') %>
<h1>Details of <%= campground.title %> </h1>
<h2><%= campground.location %> </h2>

<P>
    <a href="/campgrounds">All campgrounds</a>
</P>

<p>
    <form action="/campgrounds/<%=campground._id%>/?_method=DELETE" method="post">
        <button>Delete Campground</button>
    </form>
</p>

<footer>
    
    <a href="/campgrounds/<%=campground._id%>/edit">Edit Campground</a>
</footer>
